body {
  background-color: #F6F7C1;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #528693;
  height: 0px;
  width: 3%;
}

h1 {
    color: #66BFBF;
}

h3{
    color: #66BFBF;
}

.twitter {
    width: 15px;
}

.linkedin {
    width: 15px;
}

.instagram {
  width: 15px;
}

.github {
  width: 15px;
}

.html{
  width: 15px;
}

.css{
  width: 15px;
}

.js{
  width: 15px;
}

.python{
  width: 15px;
}

.c{
  width: 15px;
}

.java{
  width: 15px;
}

.console{
  width: 15px;
}

.football{
  width: 15px;
}

.f1{
  width: 15px;
}